- if @groups

    -@groups.each do |group|
        = link_to edit_group_path(group), {:method => :get} do
            .card
                %h1= group.group_name.to_s
    <br>
    <br>
- else 
    %h4.groups Oops! You don't have any groups yet.
%h4.groups Do you want to create a group?
<br>
%a.btn{:href => "/groups/new"} Create Group