= form_tag groups_path do
  .form-group
    = label :group, :group_name, 'Group Name: '
    = text_field :group, 'group_name', {:type => "text", :class => "form-control", :id => "groupname", :placeholder => "Group"}
  .btn 
    = submit_tag 'Submit', {:id => "signUpSubmitButton"}
%a.btn{:href => '/groups'} Cancel