// Place all the styles related to the MemoryCards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
    position: relative;
    padding: 15px;
    min-width: 350px;
    max-width: 60%;
    background: linear-gradient(to right, #00cc99, #00ccff);
    border-radius: 25px;
    margin: auto;
}


.backCard{
    text-align: center;
}

.button{
    position: absolute;
    right: 450px;
    top: 150px;
}

#sharefield{
    z-index: 5;
}

#shareButton{
    z-index: 5;
}

h1, h2, h3 {
    color: white !important;
}

a:-webkit-any-link {
    text-decoration: none !important;
}

.btn {
    color: white;
    background: none;
    font-weight: bold !important;
    border: 2px solid white !important;
}

.carousel-inner{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
  width: 80%;
  resize: vertical;
  overflow: auto;
}

.item {
    padding: 10px 50px 10px 50px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.carousel-control {
    background-image: none !important;
}
