// Place all the styles related to the MemoryCards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.frontCard {
    position: relative;
    height: 300px;
    width: 500px;
    background-color: silver;
}

.backCard{
    position: relative;
    height: 300px;
    width: 500px;
    background-color: rgb(217, 217, 217);
}

.button{
    position: absolute;
    right: 450px;
    top: 150px;
}

#sharefield{
    z-index: 5;
}

#shareButton{
    z-index: 5;
}